# Byte-compiled / optimized / DLL files
__pycache__/
.idea/



.flake8
.converagerc


data/test_case/*
data/log/*
test_case.tar.gz

docker-compose.yml
doc/*

.vscode
.github
http_locations.conf
https_locations.conf
local_locations.conf
local_nginx.conf
supervisord_local.conf

celerybeat.pid
celerybeat-schedule
.svn
.coverage
*.py[cod]
*.log
*.xml
*.jpg
venv/